<?xml version="1.0" encoding="UTF-8"?>
<mapper>
	<select id="empAllData">
		SELECT * FROM emp
	</select>
	<select id="empFindData">
		SELECT * FROM emp WHERE empno=#{empno}
	</select>
	<select id="empFindDataByName">
		SELECT * FROM emp WHERE ename=#{ename} AND empno=#{empno}
	</select>
</mapper>