<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- 기본 세팅 -->
   <properties resource="com/common/db.properties"/>
   <typeAliases>
      <typeAlias type="com.dao.SignupDTO" alias="member"/>
      <typeAlias type="com.ad.dao.AdvertiseDTO" alias="adDTO"/>
   </typeAliases>
   <environments default="development">
      <environment id="development">
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
            <property name="driver" value="${driver}"/>
            <property name="url" value="${url}"/>
            <property name="username" value="${username}"/>
            <property name="password" value="${password}"/>
         </dataSource>
      </environment>
   </environments>
   <mappers>
      <mapper resource="com/dao/mapper.xml"/>
      <mapper resource="com/ad/dao/ad-mapper.xml"/>
   </mappers>
</configuration>