@CHARSET "EUC-KR";

#body{
	color: white;
	width:100%; height:100%;
	background-image: url('image/back.jpg');
	background-color: ;
	
	
}
#body #body_content{
	float:left; width:70%; height:40%;

}
#body #body_recommend{
	 float:right; width:30%; height:100%;
	
}
#body #ad_info{
	 float:left; width:70%; height:20%;
	
}
#body #ad_comment{
	float:left; width:70%; height:40%;
	
}
#main_video{
	width:80%;
	height:80%;
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;
}
.subvideo{
	width:100%;
	height:10%;
	padding: 3%;
	margin: 0px 0px 0px 0px;
}
input[type="text"]{
  width: 40%;
}
#sidebar ul	{list-style:none; padding:0; margin:0;}
#sidebar ul li	{list-style:none; border-bottom:1px solid #000;}

#body #ad_comment #sidebar #name{
	width:15%;
	border:0;
}
#body #ad_comment #sidebar #content{
	width:65%;
	border:0;
}
#body #body_recommend #sub_video{
	border:1;
	
	border-radius:1px solid;
	
}
#body #body_recommend #sub_video .sub_1 {
	float: left;
	width: 60%;
	height: 90%;
	padding: 0%;
	margin: 0px 0px 0px 0px;
	border: 0;
}

#body #body_recommend #sub_video .sub_2 {
	float: right;
	width: 35%;
	height: 90%;
	text-align: center;
	vertical-align:middle;
	word-break:break-all;
	padding: 0%;
	margin: 5% 0px 0px 0px;
}
li{ list-style-type : none }